.cps-preview-form {
  background: #4d8f46;
  box-shadow: inset 0 -1px 4px rgba(0, 0, 0, 0.1);
  font-size: 0.875rem;
  padding: 0 1.4em;
}

.cps-preview-form--live {
  background: #0074bd;
}

.cps-preview-form--review {
  background: #f6b331;
}

.cps-preview-form--archived {
  background: url(images/archived-bg.png);
}

.cps-preview-form-status {
  float: right;
  padding-top: 1em;
}

.cps-preview-form .form-item label,
.cps-preview-form-status {
  color: #eeeeee;
  font-size: 0.875rem;
  font-weight: bold;
  margin-right: 0.5em;
}

.cps-preview-form--review .form-item label,
.cps-preview-form--archived .form-item label,
.cps-preview-form--review .cps-preview-form-status,
.cps-preview-form--archived .cps-preview-form-status {
  color: #333333;
}

.cps-preview-form form > div {
  float: left;
}

.cps-preview-form label,
.cps-preview-form input,
.cps-preview-form .cps-preview-form-title {
  display: inline;
}

.cps-preview-form .cps-change-condition {
  float: left;
  margin: 11px 0 0 10px;
}

.cps-preview-form .form-item,
.cps-preview-form .cps-preview-form-title {
  float: left;
  padding: 3px 0;
  margin: 6px 0 4px 0;
}

.cps-preview-form .form-item:last-of-type {
  padding-right: 0;
}

.cps-preview-form .cps-preview-form-title {
  border-right: 1px solid #bbb;
  color: #333333;
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
  margin-top: 19px;
  padding-right: 12px;
  text-transform: none;
}

.page-admin .cps-preview-form .cps-preview-form-title {
  margin-top: 17px;
}

.cps-preview-form .form-item-active-condition-container-active-condition-selector {
  border-right: 1px solid #ccc;
  padding-right: 20px;
  margin-right: 20px;
}

.cps-preview-form .cps-preview-buttons {
  padding: 15px 0 4px 0;
}

.cps-preview-form .fieldset-wrapper {
  padding: 0 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.cps-overridden {
  border: 2px solid #79bf9d !important;
  position: relative;
}

.cps-overridden:before {
  background: black;
  background-repeat: no-repeat;
  content: ' ';
  width: 38px;
  height: 38px;
  top: 0;
  left: 0;
  position: absolute;
}

.cps-preview-form a.cps-action {
  background-image: url(images/gear.svg);
  background-repeat: no-repeat;
  background-position: right 0;
  background-size: 17px;
  display: inline-block;
  height: 17px;
  margin: 15px 0 0 10px;
  text-indent: -20000px;
  width: 17px;
}

.cps-preview-form a.new {
  background-image: url(images/add-thick.svg);
  background-size: 16px;
}

.cps-preview-form a.publish {
  background-image: url(images/publish.svg);
  background-size: 16px 17px;
}

a.cps-changeset-operation {
  padding-right: 1em;
}

table.cps-changed-entities td.cps-title {
  width: 50%;
}

table.cps-changed-entities td.cps-bundle {
  width: 12%;
}
