#cps-time-machine-form .container-inline-date {
  margin-top: 0;
  margin-bottom: 0.625rem;
}

#cps-time-machine-form .form-actions {
  margin-top: 0.625rem;
}

#cps-time-machine-form .form-item-when {
  margin: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
}

#cps-time-machine-form .form-item-when > label {
  font-size: 3.5rem;
  line-height: 1;
  padding-bottom: 1.6875rem;
}

#cps-time-machine-form .form-item-when-date {
  margin-top: 0;
  margin-bottom: 0;
}

#cps-time-machine-form .form-item-when-date > label {
  line-height: 2rem;
  padding-bottom: 0.5rem;
}

#cps-time-machine-form .form-item-when input.form-text {
  height: 3.75rem;
  padding: 1.25rem 1.5rem;
  margin-right: 0;
  border-radius: 0.375rem;
  font-size: 0.9375rem;
  background-image: url('../images/calendar.svg');
  background-repeat: no-repeat;
  background-position: right center;
  background-origin: content-box;
  background-size: 1.25rem 1.25rem;
}

@media only screen and (min-width: 768px) {
  #cps-time-machine-form .form-item-when input.form-text {
    width: 29rem;
  }
}
