/* CPS icons */

.cps-preview-form a.cps-changeset--publish {
  background-image: url(../images/cps-changeset-publish.png);
  background-size: 14px;
}

.cps-preview-form a.cps-changeset--schedule {
  background-image: url(../images/cps-changeset-schedule.png);
}

.cps-preview-form a.cps-changeset--cancel-scheduling {
  background-image: url(../images/cps-changeset-unschedule.png);
}
